h1 {
  display: flex;
  justify-content: center;
}

.btn {
  display: flex;
  justify-content: center;
}

.block-up {
  margin-top: 300px;
}

button {
  padding: 10px 50px;
  cursor: pointer;
  background-color: orange;
  border-radius: 6px;
}

.btn-start {
  margin-right: 20px;
}

.btn-start:hover,
.btn-start:focus {
  background-color: rgb(239, 255, 255);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.btn-stop:hover,
.btn-stop:focus {
  background-color: rgb(239, 255, 255);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
